<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>MY APP</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

<style>
.demo-list-three {
  width: 650px;
}
</style>

</head>
<body>

<div class="mdl-grid">

<div class="mdl-cell mdl-cell--2-col">
</div>

<div class="mdl-cell mdl-cell--8-col">
<ul class="quotes demo-list-three mdl-list">
<% for(var i=0; i<quotes.length; i++) {%>

  <li class="quote mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span><%= quotes[i].name %></span>
      <span class="mdl-list__item-text-body">
        <%= quotes[i].quote %>
      </span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">flag</i></a>
    </span>
  </li>

<% } %>
</ul>
</div>

<div class="mdl-cell mdl-cell--2-col">
</div>

</div>


<div class="mdl-grid">

<div class="mdl-cell mdl-cell--2-col">
</div>
<div class="mdl-cell mdl-cell--8-col">
	<form action="/quotes" method="POST">

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="name" name="name">
		<label class="mdl-textfield__label" for="name">Enter Name</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="quote" name="quote">
		<label class="mdl-textfield__label" for="quote">Enter Text</label>
	</div>

	<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	ADD
	</button>
	</form>
</div>

<div class="mdl-cell mdl-cell--2-col">
	<!--<button id="update" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"> Update Quote </button>-->
	<button id="update" hidden>Update</button>
</div>

</div>

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="main.js"></script>
</body>
</html>
